@charset "UTF-8";

:root {
    /* color pallete */
    --black: #1F191B;
    --brown: #502A17;
    --light-brown: #854C15;
    --suit-black: #1C1B17;
    --light-gray: #CFBF9D;
    --king-crimson: #BF2316;
    --pastel: #F0E7BE;
    --golden-wind: #EBAE5E;
    --light-crimson: #B97F1C;
    --dark-green: #4B3C1D;
    --dark-crimson: #AF1306;
}

body {
    box-sizing: border-box;

    background-color: var(--suit-black);
    color: var(--light-gray);
    font-family: 'DM Serif Text', 'Castoro', serif;
    text-align: center;
}

/* Logo */
#logo a{
    text-decoration: none;
    /* font-size: 2rem; */
    color: inherit;
}

h1, .display-1 {
    font-weight: bold;
    padding: 1rem;
}

/* Menu */
#menu {
    background-color: var(--light-crimson);
    border: 2px var(--king-crimson) solid;
    border-radius: 0.15rem;

    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 2.5rem;
}

#menu a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--brown);
    opacity: 0.9;
}

#menu a:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Card */
.card {
    border-radius: 0.5rem;
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;

    background-color: var(--light-gray);
    color: var(--brown);

    overflow: auto;
}

.card-title, .card-content {
    font-family: 'Castoro', serif;
}

.card-title, .display-6 {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-content {
    font-size: 1.2rem;
    max-width: fit-content;
    text-align: justify;
    margin: auto;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font-size: 1.1rem;
}

footer img {
    max-width: 100px;
}

/* Media Queries */
@media (max-width: 600px) {
    #menu {
        width: 100%;
        padding: 0 1rem;
    }

    .card {
        width: 90%;
    }

    footer img {
        width: 20%;
    }
}

@media (min-width: 1000px) {
    #menu a{
        font-size: 1.5rem;
    }
}