/* .card-title, .card-content {
    font-family: 'Castoro', serif;
}

.card-title, .display-6 {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-content {
    font-size: 1.2rem;
    max-width: fit-content;
    text-align: justify;
    margin: auto;
} */

#sign-up-in ul button {
    background-color: var(--pastel);
    border: 1px solid var(--light-brown);

    font-weight: bold;
}

#sign-up-in ul button:nth-child(2) {
    border-top: none;
    /* border-bottom: none; */
}

/* Modal */
.modal-content {
    background-color: var(--light-gray);
    color: var(--brown);
    
    text-align: justify;
}