#sign-up-in {
    margin: 0 0 0 -2rem;
}

#sign-up-in ul button {
    background-color: var(--pastel);
    border: 1px solid var(--light-brown);

    font-weight: bold;
}

#sign-up-in ul button:nth-child(2) {
    border-top: none;
}

/* Modal */
.modal-content {
    background-color: var(--light-gray);
    color: var(--brown);
    
    text-align: justify;
}
